<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Listes des staffs</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Identifiant</th>
            <th>nom</th>
            <th>equipe_pays</th>

            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let staff of staffs | async">
            <td>{{staff.id}}</td>
            <td>{{staff.nom}}</td>
            <td>{{staff.equipe.pays}}</td>

            <td>
              <button (click)="deleteStaff(staff.id)" class="btn btn-danger">Delete</button>
              <button (click)="staffdetails(staff.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
              <button (click)="gotoListUpdate(staff.id)" class="btn btn-success" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>